#breed-wrap{
    background-color: rgb(92, 200, 204);
    min-width: 10vw;
    min-height: 10vh;
    display: block;
    padding: 20px;
    margin-bottom: 60px;
}
#breed-wrap a{
    display: block;
    font-size: 18px;
    text-decoration: none;
}
#breed-wrap a:hover{
    color: green;
}

.current{
    color: #ffffff;
    text-decoration: underline;
}

#inline-breed{
    margin-left: 20px;
}

.forms{
    margin: 20px;
    padding-bottom: 40px;
}